extends ../../layout

block content
	.pb-2.mt-2.mb-4.border-bottom
		h4 Add Lab
		form(method='POST')
			input(type='hidden', name='_csrf', value=_csrf)
			.form-group.row
				.col-md-4
					label(class='col-form-label font-weight-bold', for='name') Name
					input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus=true, placeholder="name of the lab", required)
				.col-md-4
					label(class='col-form-label font-weight-bold', for='registration') Registration
					input.form-control(type='text', name='registration', id='registration', autocomplete='address', autofocus=true, placeholder="registration number", required)
				.col-md-4
					label(class='col-form-label font-weight-bold', for='address') Address
					input.form-control(type='text', name='address', id='address', autocomplete='address', autofocus=true, placeholder="address of lab", required)
				.col-md-4
					label(class='col-form-label font-weight-bold', for='nearby') Near by
					input.form-control(type='text', name='nearby', id='nearby', autocomplete='nearby', autofocus=true, placeholder="nearby popular place")
				.col-md-3
					label(class='col-form-label font-weight-bold', for='city') City
					select(class="status" data-style="btn-info" name="city")
						each city in labAttr.cities
							option(name=city value=city) #{city}
				.col-md-4
					label(class='col-form-label font-weight-bold', for='phone') Phone
					input.form-control(type='text', name='phone', id='phone', autocomplete='nearby', autofocus=true, placeholder="phone number", required)
				.col-md-4
					label(class='col-form-label font-weight-bold', for='email') Email
					input.form-control(type='text', name='email', id='email', autocomplete='email', autofocus=true, placeholder="email address of lab", required)
				.col-md-3
					label(class='col-form-label font-weight-bold', for='labtype') Type
					select(class="type" data-style="btn-info" name="labtype")
						each type in labAttr.labtype
							option(name=type value=type) #{type}
				.col-md-3
					label(class='col-form-label font-weight-bold', for='isactive') Is Active
					select(class="status" data-style="btn-info" name="isactive")
						each status in labAttr.isactive
							option(name=status value=status) status
			.form-group.row
				div(class='col-lg-12 md-form active-cyan active-cyan-2 mb-3')
					input.form-control(type="text" id='searchName' placeholder="Search" aria-label="Search")
			.form-group.row
				table.table
					thead
						tr
							th(scope='col') Names
							th(scope='col') Specimen
							th(scope='col') Cost Price
							th(scope='col') Sales Price
					tbody
						for test in labAttr.tests
							tr
								td
									input.form-control(type='text', name=test.name,  autocomplete='' value=test.name)
								td
									input.form-control(type='text', name=test.specimen,  autocomplete='' value=test.specimen)
								td
									input.form-control(type='text', name=test.cprice,  autocomplete='' value=test.cprice)
								td
									input.form-control(type='text', name=test.sprice,  autocomplete='' value=test.sprice)
						tr
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')  
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test') 
						tr
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')  
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test') 
						tr
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')  
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')
							td
								input.form-control(type='text', name="test",  autocomplete='name of test')          							
			//- each test in labAttr.tests
			//- 	.col-md-1
			//- 		input.form-control(type='text', name='type', id='type', autocomplete='type', autofocus=true, placeholder="type - cardio, bones etc", value=test.name required)
			//- 	.col-md-1
			//- 		input.form-control(type='text', name='type', id='type', autocomplete='type', autofocus=true, placeholder="type - cardio, bones etc", value=test.specimen required)
				//- .col-md-4
				//- 	input.form-control(type='text', name='specimen', id='specimen', autocomplete='specimen', autofocus=true, value=test.specimen, required)				
			.form-group
				.col-md-10.p-1
					button.btn.btn-primary(type='submit')
							| Add Lab
