extends ../layout

block content
	h4 Patient Detail
	.pb-2.mt-2.mb-4.border-bottom
		form(action='/submitquote' method='POST')
			input(type='hidden', name='_csrf', value=_csrf)
			input(type='hidden', name='clientname' value=clientAttr.name)
			input(type='hidden', name='clientemail' value=clientAttr.email)
			input(type='hidden', name='clientphone' value=clientAttr.phone)
			input(type='hidden', name='clientstreet' value=clientAttr.street)
			input(type='hidden', name='clientapartment' value=clientAttr.apartment)
			input(type='hidden', name='clientcity' value=clientAttr.city)
			input(type='hidden', name='clientstate' value=clientAttr.state)
			input(type='hidden', name='clientzipcode' value=clientAttr.zipcode)

			- var i = 0;
			while i <  clientAttr.ttlpatient
				.form-group.row
					.col-md-4
						label(class='col-form-label font-weight-bold', for='name') Full Name
						input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus=true, placeholder="name of the lab")
					.col-md-4
						label(class='col-form-label font-weight-bold', for='phone') Phone
						input.form-control(type='text', name='phone', id='phone', autocomplete='phone', autofocus=true, placeholder="phone")
					.col-md-4
						label(class='col-form-label font-weight-bold', for='age') Patient Age
						select(class="patientcount" data-style="btn-info" name="age")
							each age in clientAttr.age
								option(name=age value=age) #{age}
					.col-md-4
						label(class='col-form-label font-weight-bold', for='address') Address
						input.form-control(type='text', name='address', id='address', autocomplete='address', autofocus=true, placeholder="address")
					.col-md-4
						label(class='col-form-label font-weight-bold', for='popularplc') Popular Nearby
						input.form-control(type='text', name='popularplc', id='popularplc', autocomplete='popularplc', autofocus=true, placeholder="popular place Nearby")
					.col-md-4
						label(class='col-form-label font-weight-bold', for='city') City
						input.form-control(type='text', name='city', id='city', autocomplete='city', autofocus=true, placeholder="city",)
					.col-md-4
						label(class='col-form-label font-weight-bold', for='gender') Gender
						select(class="patientcount" data-style="btn-info" name="gender")
							each gender in clientAttr.gender
								option(name=gender value=gender) #{gender}
					hr(class="mt-5 mb-5")
				- i++;
			.form-group
				.col-md-10.p-1
					button.btn.btn-primary(type='submit')
							| Get Quote
